:root {
    --primary-ulm: #F48200;
    --bg-illustration: #FDF0E9;
}

body {
    font-family: 'Inter', 'Nunito', sans-serif;
}

.input-line {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1.5px solid #E2E8F0;
    padding: 12px 0 12px 35px;
    font-size: 14px;
    transition: all 0.3s;
}

.input-line:focus {
    outline: none;
    border-bottom-color: var(--primary-ulm);
}


.btn-pill {
    background: linear-gradient(135deg, #FF5722, #F48200);
    color: white;
    border-radius: 50px;
    padding: 14px;
    font-weight: 700;
    transition: all 0.3s;
}

.btn-pill:hover {
    transform: translateY(-2px);
    box-shadow: 0 15px 25px -5px rgba(244, 130, 0, 0.5);
}